body {
  background-image: linear-gradient(to right, rgb(245, 245, 245), rgba(166, 160, 165, 0.5), rgb(245, 245, 245));
  background-color: transparent;
}

#root {
  display: block;
  min-height: 100%;
}

h3{
  width: 100%;
  text-align: center;
  margin-top: 60px;
  color: #888;
}

.container {
  min-height: 100%;
  background-color: #fff;
  border-left: 1px solid #b816bc;
  border-right: 1px solid #b816bc;
  box-shadow: 0 0 14px 2px #ccc;
}

nav {
  background-image: linear-gradient(to right, rgb(255, 5, 255), rgba(255, 0, 159, 0.5), rgb(255, 5, 255));
  background-color: inherit;
  .nav-wrapper {
    .brand-logo {
      margin-left: 10px;
    }
  }
}

.row {
  margin-top: 60px;
  text-align: center;
  .col.s4 {
    margin: 0 auto;
    float: none;
    text-align: right;
    border: 1px solid #b816bc;
    padding: 20px;
    box-shadow: 0 1px 0 0 #d14cd1;;
    input:focus {
      border-bottom: 1px solid #d14cd1;
      box-shadow: 0 1px 0 0 #d14cd1;
    }
    button.btn {
      background-image: linear-gradient(to right, rgba(255, 128, 219, 0.45), rgba(220, 80, 220, 0.8), rgba(255, 128, 219, 0.45));
      background-color: transparent;
      border-bottom: 1px solid #d14cd1;
      box-shadow: 0 1px 0 0 rgba(209, 76, 209, 0.44);
      font-size: 12px;
    }
  }
}